@model LV3_Remastered.Models.PatientDoctor
@{
    ViewBag.Title = "AddPatientToDoctor";
}

<h2>Add patient to doctor: @ViewBag.DoctorName</h2>

@using (Html.BeginForm("AddPatientToDoctor", "Doctors"))
{
    <div class="form-group">
        @Html.Label("Patient")
        @Html.DropDownListFor(m => m.PatientId, new SelectList(Model.Patients, "Id", "Name"), new { @class = "form-control" })
        <button class="btn btn-primary" type="submit">Add</button>

        @Html.HiddenFor(m => m.DoctorId)
    </div>
}

