@model MVC_MusicStore.ViewModels.ArtistAlbumViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@*@Html.DropDownList(m=>m.ChosenAlbum, new SelectList(Model.Albums, "AlbumID", "Title"),"Select album")*@